# dependencies
node_modules/
**/node_modules/
.pnp
.pnp.js
.yarn/cache
server/dist/

# testing
/coverage

# next.js
/.next/
/out/

# production & builds
/build
*.tsbuildinfo
next-env.d.ts

# mobile builds & temporary outputs
apps/mobile/build/
apps/mobile/.dart_tool/
apps/mobile/android/.gradle/
apps/mobile/android/build/
public/uploads/receipts/*.webp

# data files & machine learning assets
*.traineddata

# temporary files & logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
ssm_out.txt
test.txt

# misc
.DS_Store
*.pem

# local env files
.env*.local

# vercel
.vercel
